<!-- Written by afoster2373 -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
        crossorigin='anonymous'></script>
<script src="/static/js/dropzone.js"></script>

<p>Upload a csv file here! (For example, NRDC_data.csv)</p>

<div style='background-color: #FEF7C3; margin: 5px 50px 5px 50px; padding: 50px; border: 5px; border-radius: 10px'>
    <div id="uploader">
        <h1>Upload data file (*.csv)</h1>

        <!-- DROP FORM -->
        <form id="upload-file" method='post' action="/api/upload-file" class="dropzone">
            <div class="dz-default dz-message">
                <span>Drop a csv file here to upload</span>
            </div>
        </form>
    </div>

    <div id="response">

    </div>

    <script>
        $(document).ready(function () {
            new Dropzone('#upload-file', {
                acceptedFiles: '.csv',
                maxFiles: 1,
                success: function (file, response) {
                    $('#response').html(`Woo, ${file.name} uploaded successfully! Bringing you to the next step...`);
                    setTimeout(function () {
                        nextPage();
                    }, 2000);
                },
                init: function () {
                    this.on("maxfilesexceeded", function (file) {
                        alert("No more files please!");
                    });
                }
            });
        });
    </script>
</div>